html[data-theme="dark"] {
  --background: #181818;
  --background-secondary: #1f1f1f;
  --foreground-primary: #C4C5B5;
  --foreground-dark: #686868;
  --foreground-special: #C4C5B5;
  --foreground-seconary: #77786e;
  --accent-color: #FA8419;
  --links-bg: #4ad3a8;
  --nav-bg: #00000050; }

html[data-theme="light"] {
  --background: #ffffff;
  --background-secondary: #daf5f8;
  --foreground-primary: #008080;
  --foreground-dark: #005252;
  --foreground-special: #ff6347;
  --foreground-seconary: #e5543a;
  --accent-color: #FA8419;
  --links-bg: #3aa885;
  --nav-bg: #ffffff80; }

html.transition, html.transition *, html.transition *:before, html.transition *:after {
  transition: all 350ms !important;
  transition-delay: 0 !important; }

@font-face {
  font-family: 'Blanka Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Blanka Regular"), url("../../Assets/Fonts/Blanka/Blanka-Regular.woff") format("woff"); }
@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display"), url("../../Assets/Fonts/SF UI Family/SFUIDisplay-Medium.ttf"); }
@font-face {
  font-family: 'Graphik';
  src: local("Graphik"), url("../../Assets/Fonts/Graphik/GraphikMedium.otf"); }
@font-face {
  font-family: 'Helvetica';
  src: local("Helvetica"), url("../../Assets/Fonts/Helvetica/Helvetica.ttf"); }
::-webkit-scrollbar {
  display: none; }

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

::selection {
  background: var(--accent-color);
  color: var(--background); }

:focus {
  border: 2px solid var(--accent-color);
  outline: none;
  border-radius: 4px;
  padding: 2px; }

body {
  background-color: var(--background);
  color: var(--foreground-primary);
  height: 100vh;
  width: 100%;
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  -webkit-user-drag: none; }

a {
  color: var(--links-bg);
  text-decoration: underline; }

h1 {
  font-family: "Blanka Regular", sans-serif;
  font-weight: bold; }

main {
  border-radius: 8px; }

main, .skew__container {
  transition: transform 0.25s;
  will-change: transform; }

.Home, .About, .Game, .Works, .Skills, .Hire-me, .Contact {
  margin-bottom: 50px; }

.preloader {
  background-color: #18181890;
  backdrop-filter: blur(1rem);
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 350ms ease-out;
  border: solid 1px #4a4a4a;
  cursor: normal;
  image-rendering: pixelated; }
  .preloader .window {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.8);
    border-radius: 8px; }
  .preloader img {
    border-radius: 0 0 8px 8px; }

.preloader--done {
  opacity: 0;
  pointer-events: none; }

.screen-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: var(--background);
  border-radius: 8px 8px 0 0;
  max-width: 100%; }

.screen-header-left {
  margin-right: auto; }

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
  cursor: pointer; }

.screen-header-button.close {
  background: #ff5851;
  border: 1px solid #ff271e;
  width: 15px;
  height: 15px; }

.screen-header-button.maximize {
  background: #e6c026;
  border: 1px solid #c3a116;
  width: 15px;
  height: 15px; }

.screen-header-button.minimize {
  background: #51c128;
  border: 1px solid #3f971f;
  width: 15px;
  height: 15px; }

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999; }

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: var(--background-secondary);
  position: fixed;
  width: 100%;
  z-index: 8888;
  transition: all 300ms ease-in-out; }
  nav .Nav__Logo {
    display: flex;
    align-items: center;
    cursor: pointer; }
    nav .Nav__Logo img#Logo {
      height: 1.5rem;
      aspect-ratio: 1 / 1; }
      @media (min-width: 770px) {
        nav .Nav__Logo img#Logo {
          height: 2rem; } }
  nav .Nav__Links {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--nav-bg);
    backdrop-filter: blur(1rem);
    border-left: 1px solid var(--foreground-secondary);
    height: 100vh;
    width: 60%;
    justify-content: center;
    z-index: 333;
    transition: all 300ms cubic-bezier(1, 0.06, 0.58, 0.65);
    transform: translateX(100%); }
    @media (min-width: 426px) {
      nav .Nav__Links {
        position: unset;
        height: auto;
        width: auto;
        transform: translateX(0);
        flex-direction: row;
        background: none;
        backdrop-filter: none; }
        nav .Nav__Links svg {
          display: none; } }
    nav .Nav__Links li {
      list-style-type: none;
      text-align: center;
      margin: 10px;
      padding: 5px;
      border: solid 1px #4a4a4a;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
      border-radius: 8px;
      border: 1px solid var(--foreground-secondary);
      background-color: var(--background);
      padding-bottom: 10px; }
      @media (min-width: 426px) {
        nav .Nav__Links li {
          margin: 5px;
          border: none;
          background: none;
          border: none;
          -webkit-box-shadow: none; } }
      nav .Nav__Links li a {
        text-decoration: none;
        color: var(--foreground-primary);
        display: inline-block;
        padding: 5px;
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
        font-family: "Blanka Regular", sans-serif;
        line-height: 1; }
        nav .Nav__Links li a:focus {
          border: none;
          outline: none;
          padding: 4px; }
        @media (min-width: 426px) {
          nav .Nav__Links li a {
            font-size: 0.8rem;
            color: var(--foreground-dark); } }
        @media (min-width: 770px) {
          nav .Nav__Links li a {
            font-size: 1.2rem; } }
      nav .Nav__Links li:nth-of-type(1):hover, nav .Nav__Links li:nth-of-type(1):focus {
        background-color: rgba(244, 0, 95, 0.5); }
        nav .Nav__Links li:nth-of-type(1):hover a, nav .Nav__Links li:nth-of-type(1):focus a {
          color: var(--foreground-primary); }
      nav .Nav__Links li:nth-of-type(2):hover, nav .Nav__Links li:nth-of-type(2):focus {
        background-color: rgba(152, 224, 36, 0.5); }
        nav .Nav__Links li:nth-of-type(2):hover a, nav .Nav__Links li:nth-of-type(2):focus a {
          color: var(--foreground-primary); }
      nav .Nav__Links li:nth-of-type(3):hover, nav .Nav__Links li:nth-of-type(3):focus {
        background-color: rgba(157, 101, 255, 0.5); }
        nav .Nav__Links li:nth-of-type(3):hover a, nav .Nav__Links li:nth-of-type(3):focus a {
          color: var(--foreground-primary); }
      nav .Nav__Links li:nth-of-type(4):hover, nav .Nav__Links li:nth-of-type(4):focus {
        background-color: rgba(250, 132, 25, 0.5); }
        nav .Nav__Links li:nth-of-type(4):hover a, nav .Nav__Links li:nth-of-type(4):focus a {
          color: var(--foreground-primary); }
      nav .Nav__Links li:nth-of-type(5):hover, nav .Nav__Links li:nth-of-type(5):focus {
        background-color: rgba(88, 209, 235, 0.5); }
        nav .Nav__Links li:nth-of-type(5):hover a, nav .Nav__Links li:nth-of-type(5):focus a {
          color: var(--foreground-primary); }
    nav .Nav__Links svg.close {
      height: 1.5rem;
      aspect-ratio: 1 / 1;
      fill: white;
      position: fixed;
      top: 0;
      right: 0;
      margin: 0.8rem; }
  nav .burger svg {
    height: 1.5rem;
    aspect-ratio: 1 / 1;
    fill: white; }
  @media (min-width: 426px) {
    nav .burger {
      display: none; } }

.Nav__Links--open {
  transform: translateX(0%) !important; }

.Home {
  height: 95%;
  display: flex;
  justify-content: space-evenly;
  padding-inline: 20px;
  padding-top: 50px;
  background-color: var(--background-secondary);
  border-radius: 0 0 8px 8px;
  flex-direction: column; }
  @media (min-width: 770px) {
    .Home {
      padding-inline: 4.5rem; } }
  .Home h1.Home__Content {
    font-size: 1.7rem;
    line-height: 1;
    color: var(--foreground-dark);
    font-family: Grtsk Mega, sans-serif; }
    @media (min-width: 426px) {
      .Home h1.Home__Content {
        font-size: 2rem; } }
    @media (min-width: 770px) {
      .Home h1.Home__Content {
        font-size: 2.5rem;
        max-width: 70vw; } }
    .Home h1.Home__Content span:hover {
      font-style: italic; }
    .Home h1.Home__Content span.Home__Content__Special {
      color: var(--accent-color);
      animation: text-dance 1s linear infinite;
      cursor: pointer; }
    .Home h1.Home__Content span.Home__Content__Greeting {
      color: var(--foreground-special);
      animation: text-dance 1s linear infinite; }

@keyframes text-dance {
  from {
    font-style: normal; }
  to {
    font-style: italic; } }
.About {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  background-color: var(--background); }
  .About .About__Image {
    margin-bottom: 1rem; }
    @media (min-width: 426px) {
      .About .About__Image {
        display: flex;
        justify-content: center;
        align-content: center; } }
    @media (min-width: 620px) {
      .About .About__Image {
        margin-bottom: 0; } }
    @media (min-width: 770px) {
      .About .About__Image {
        margin-bottom: 0; } }
    .About .About__Image img {
      border-radius: 8px;
      cursor: pointer; }
      @media (min-width: 426px) {
        .About .About__Image img {
          max-width: 300px; } }
      @media (min-width: 770px) {
        .About .About__Image img {
          max-width: 350px; } }
  .About .About__Decription {
    padding: 10px;
    background-color: var(--background-secondary);
    border-radius: 8px;
    text-align: left; }
    .About .About__Decription h1 {
      margin-bottom: 1rem;
      font-family: Grtsk Mega, sans-serif;
      font-size: 1.5rem;
      letter-spacing: 1px; }
      @media (min-width: 770px) {
        .About .About__Decription h1 {
          font-size: 2rem; } }
    @media (min-width: 426px) {
      .About .About__Decription {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column; } }
    @media (min-width: 770px) {
      .About .About__Decription {
        font-size: 1.3rem; } }
    @media (min-width: 860px) {
      .About .About__Decription {
        font-size: 1.5rem; } }
  @media (min-width: 620px) {
    .About {
      flex-direction: row;
      gap: 10px; } }
  @media (min-width: 770px) {
    .About {
      padding-inline: 4.5rem; } }

.Game {
  padding-block: 50px;
  padding-inline: 15px;
  image-rendering: pixelated;
  background-color: var(--background-secondary);
  border-radius: 0 0 0 0;
  text-align: center; }
  @media (min-width: 770px) {
    .Game {
      padding-inline: 4.5rem; } }
  .Game h1 {
    font-family: Grtsk Mega, sans-serif;
    letter-spacing: 1px;
    font-size: 1.5rem; }
  .Game .Game__pokeMinions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 5px;
    border-radius: 4px; }
    .Game .Game__pokeMinions img {
      background-image: url(../../Assets/Images/Backgrounds/Pokdex-Background.png);
      background-size: cover;
      background-repeat: no-repeat;
      image-rendering: pixelated;
      border-radius: 8px;
      padding: 8px;
      margin: 5px;
      cursor: pointer; }
      @media (min-width: 620px) {
        .Game .Game__pokeMinions img {
          height: 8rem; } }
      @media (min-width: 770px) {
        .Game .Game__pokeMinions img {
          height: 15rem; } }

.Works {
  padding-inline: 15px; }
  @media (min-width: 770px) {
    .Works {
      padding-inline: 4.5rem; } }
  .Works h1.Works__Title {
    color: var(--foreground-primary);
    font-family: Grtsk Mega, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.5rem; }

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--foreground-primary); }

body .container .card {
  position: relative;
  height: 60vh;
  width: 300px;
  max-width: 300px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

body .container .card:nth-child(1) .box .content a {
  background: var(--links-bg);
  color: #181818;
  font-weight: bold;
  font-size: 1rem; }

body .container .card:nth-child(2) .box .content a {
  background: var(--links-bg);
  color: #181818;
  font-weight: bold;
  font-size: 1rem; }

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: var(--background-secondary);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s; }

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(var(--background-secondary), 0.03); }

body .container .card .box .content {
  padding: 20px;
  text-align: center; }

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: -55px;
  font-size: 8rem;
  color: var(--nav-bg);
  font-family: Grtsk Mega, sans-serif;
  letter-spacing: 2px; }

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: var(--foreground-primary);
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px; }

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--foreground-secondary);
  z-index: 1;
  transition: 0.5s; }

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  transition: 0.5s; }

.Skills {
  background-color: var(--background-secondary);
  padding: 20px 20px;
  border-radius: 0 8px 8px 0;
  margin-right: 20px;
  margin-block: 20px; }
  @media (min-width: 770px) {
    .Skills {
      padding-inline: 4.5rem;
      font-size: 20px;
      margin-right: 4.5rem; } }
  .Skills h1.Skills__Title {
    font-size: 1.5rem;
    color: var(--foreground-primary);
    font-family: Grtsk Mega, sans-serif;
    letter-spacing: 1px;
    max-width: 60vw;
    margin-right: auto; }
  .Skills ul.Skills__List {
    list-style: none;
    margin-top: 20px; }
    .Skills ul.Skills__List li {
      margin-block: 1rem;
      color: var(--foreground-primary); }

.Hire-me {
  padding: 20px;
  background-color: var(--background-secondary);
  border-radius: 8px 0 0 8px;
  margin-left: 20px;
  margin-block: 20px;
  text-align: right; }
  @media (min-width: 770px) {
    .Hire-me {
      padding-inline: 4.5rem;
      font-size: 20px;
      margin-left: 4.5rem; } }
  .Hire-me h1.Hire-me__title {
    color: var(--foreground-primary);
    margin-block: 1rem;
    font-family: Grtsk Mega, sans-serif;
    letter-spacing: 1px;
    font-size: 1.5rem; }
  @media (min-width: 770px) {
    .Hire-me p {
      max-width: 60vw;
      margin-left: auto; } }
  .Hire-me .Hire-me__button {
    margin-block: 1rem;
    display: inline-block;
    background-color: var(--links-bg);
    color: #181818;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #35ce9e; }
    .Hire-me .Hire-me__button:hover, .Hire-me .Hire-me__button:focus {
      background-color: #3ed0a2;
      border: 1px solid #2ebc90; }

.Contact {
  padding: 20px;
  margin-bottom: 20px; }
  @media (min-width: 770px) {
    .Contact {
      padding-inline: 4.5rem; } }
  .Contact .Contact__container h1 {
    font-family: Grtsk Mega, sans-serif;
    font-size: 1.7rem;
    margin-bottom: 20px; }
  .Contact .Contact__container .contact__grid .contact__social {
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem; }
    .Contact .Contact__container .contact__grid .contact__social a {
      display: inline-block;
      margin: 10px;
      cursor: pointer; }
      .Contact .Contact__container .contact__grid .contact__social a svg {
        color: var(--links-bg); }
  .Contact .Contact__container .contact__grid .contact__address {
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 1rem;
    text-align: left;
    margin-block: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer; }
    .Contact .Contact__container .contact__grid .contact__address svg {
      margin: 10px;
      background-color: var(--background);
      color: var(--background-secondary);
      padding: 1rem;
      border-radius: 50%;
      font-size: 2rem; }
  .Contact .Contact__container .contact__grid .contact__form {
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 1rem;
    text-align: left;
    margin-block: 10px; }
    .Contact .Contact__container .contact__grid .contact__form input {
      border: none;
      background-color: var(--background);
      color: var(--foreground-dark);
      padding: 5px;
      outline: none;
      width: 100%;
      margin-top: 5px;
      font-size: 1rem;
      font-family: "FiraCode NF", serif;
      font-weight: 500;
      border-radius: 4px;
      border: 2px solid var(--background); }
      .Contact .Contact__container .contact__grid .contact__form input:focus {
        border: 2px solid var(--accent-color); }
    .Contact .Contact__container .contact__grid .contact__form textarea {
      background-color: var(--background);
      color: var(--foreground-dark);
      padding: 5px;
      outline: none;
      width: 100%;
      margin-top: 5px;
      font-size: 1rem;
      font-family: "FiraCode NF", serif;
      font-weight: 500;
      resize: vertical;
      border-radius: 4px;
      border: 2px solid var(--background); }
      .Contact .Contact__container .contact__grid .contact__form textarea:focus {
        border: 2px solid var(--accent-color); }
    .Contact .Contact__container .contact__grid .contact__form .form__btns {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin-top: 5px; }
      .Contact .Contact__container .contact__grid .contact__form .form__btns button {
        margin-inline: 8px;
        display: inline-block;
        color: #181818;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 8px;
        border-radius: 4px;
        font-family: "Blanka Regular", sans-serif;
        cursor: pointer; }
        .Contact .Contact__container .contact__grid .contact__form .form__btns button:first-of-type {
          background-color: #e9005b;
          border: 1px solid #d00051; }
          .Contact .Contact__container .contact__grid .contact__form .form__btns button:first-of-type:hover, .Contact .Contact__container .contact__grid .contact__form .form__btns button:first-of-type:focus {
            background-color: #da0055;
            border: 1px solid #b60047; }
        .Contact .Contact__container .contact__grid .contact__form .form__btns button:last-of-type {
          background-color: var(--links-bg);
          border: 1px solid #35ce9e; }
          .Contact .Contact__container .contact__grid .contact__form .form__btns button:last-of-type:hover, .Contact .Contact__container .contact__grid .contact__form .form__btns button:last-of-type:focus {
            background-color: #3ed0a2;
            border: 1px solid #2ebc90; }
  @media (min-width: 770px) {
    .Contact .Contact__container .contact__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 10px; }
      .Contact .Contact__container .contact__grid .contact__social {
        grid-column: span 1;
        grid-row: span 1;
        margin: 0; }
        .Contact .Contact__container .contact__grid .contact__social a svg {
          border-radius: 8px;
          padding: 0.5rem;
          background-color: var(--background);
          font-size: 2rem;
          aspect-ratio: 1 / 1; }
        .Contact .Contact__container .contact__grid .contact__social a:hover svg {
          border-radius: 8px;
          padding: 0.5rem;
          background-color: var(--links-bg);
          color: var(--background); }
      .Contact .Contact__container .contact__grid .contact__address {
        grid-column: span 1;
        grid-row: 2 / -1;
        margin: 0;
        font-size: 1.5rem; }
      .Contact .Contact__container .contact__grid .contact__form {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
        margin-block: 0; } }

footer {
  background-color: var(--background-secondary);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0; }
  footer h4 {
    font-size: 0.8rem;
    color: var(--foreground-dark);
    margin-block: 5px; }
    footer h4 a.footer__special {
      text-decoration: underline;
      color: var(--foreground-dark); }
  footer .footer__menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.8rem; }
  footer .footer__abstracts {
    margin: 5px;
    display: flex;
    flex-direction: row; }
    footer .footer__abstracts .footer__icons {
      display: flex;
      justify-content: center;
      font-size: 1.3rem; }
      footer .footer__abstracts .footer__icons * {
        margin: 3px; }
    footer .footer__abstracts a {
      color: var(--foreground-dark); }
      footer .footer__abstracts a:hover, footer .footer__abstracts a:focus {
        color: var(--links-bg);
        text-decoration: none; }
  footer .footer__nav {
    margin: 5px; }
    footer .footer__nav ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      footer .footer__nav ul li {
        font-size: 0.8rem;
        margin: 2px; }
        footer .footer__nav ul li a {
          color: var(--foreground-dark); }
          footer .footer__nav ul li a:hover, footer .footer__nav ul li a:focus {
            color: var(--links-bg);
            text-decoration: none; }

/*# sourceMappingURL=style.css.map */
