* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-color: #181818;
	color: palegoldenrod;
	font-family: FiraCode NF;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}