// File Imports
@import 'variables';

// Fonts
@font-face {
    font-family: 'Jetbrains Mono Font';
    src: local('Jetbrains Mono'), url('../../assets/fonts/jbmonov.ttf');
}
@font-face {
    font-family: 'Impact Font';
    src: local('Impact'), url('../../assets/fonts/impact.ttf');
}