// files
@import "./themes.scss";
@import "./variables.scss";
@import "./media.scss";

// fonts
@font-face {
    font-family: 'Grtsk Mega Font';
    src: local('Grtsk Mega'), url('../../../assets/fonts/grtsk-mega/GrtskMega-Bold.ttf');
}
@font-face {
    font-family: 'Cartograph CF Font';
    src: local('Cartograph CF'), url('../../../assets/fonts/cartograph-cf/CartographCF-DemiBold.otf');
}

// the end 😁