// variables
$ff-p: 'Grtsk Mega Font', 'Grtsk Mega', sans-serif;
$ff-s: 'Cartograph CF Font', 'Cartograph CF', monospace;

$blk: #0f0f0f;
$wht: #ffffdf;
$prpl: #a126f9;
$gry: #5e5e5e;
$grn: #0ac87e;
$red: #f92472;
$blu: #26B7F9;
$ylw: #F9A826;
$cyn: #26F9EB;

// universal CSS variables
html {
	--nav-height: 5rem;
}

// the end 😁