// Dark Theme
:root {
	--background: #181818;
	--background-secondary: #1f1f1f;
	--foreground-primary: #C4C5B5;
	--foreground-dark: #686868;
	--foreground-special: #C4C5B5;
	--foreground-seconary: #77786e;
	--accent-color: #FA8419; // Random
	--links-bg: #4ad3a8;
	--nav-bg: #00000050;
}

:root.color_scheme--light {
	--background: #ffffff;
	--background-secondary: #daf5f8;
	--foreground-primary: #008080;
	--foreground-dark: #005252;
	--foreground-special: #ff6347;
	--foreground-seconary: #e5543a;
	--accent-color: #FA8419; // Random
	--links-bg: #359b79;
	--nav-bg: #ffffff80;
}